/* &#12288 汉字占位符*/
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-image: url(/img/data_bg.jpg);
}

.top-bar{
    line-height: 39px;
    border-bottom: 1px solid rgba(255,0,0,0.3);
}
#hxp_lunbo img{
    width: 100%;
    height: 20rem;
}
.hxp-pointer{
    cursor: pointer;
}
.hxp_overflow{
    height: 40rem;
    overflow:auto
}
ol, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.movie_list li{
    height: 12.2rem;
    margin: 0.8rem;
    border: 1px solid green;
    box-shadow: 2px 2px 2px 2px rgba(227, 158, 240, 0.55);
    opacity: 0.9;
}
/* .movie_listinfo{

} */
.movie_listinfo img{
    float: left;
    width: 10rem;
    height: 12rem;
}

.hxp_btn img{
    width: 3rem;
    height: 3rem;
}
.hxp_recom img{
    
}