body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-image: url(/img/data_bg.jpg);
    /* font-size: 62.5%; */
}
ol, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.hxp_act_s{
    overflow: auto;
    height: 10rem;
}
.hxp_act_s ol li{
    float: left;
    margin: 0.5rem;
}
.hxp_act_s img{
    width: 5rem;
    height: 5rem;
}
.hxp_btn{
    border: 1px solid,gray;
}
.hxp_btn img{
    width: 3rem;
    height: 3rem;
}
.hxp_recom{
    overflow: auto;
    height: 16rem;
}
.hxp_recom img{
    width: 7rem;
    height: 8rem;
}