.par {
    display: flex;
    height: 1000px;
    background: rgb(226, 208, 208);
}

.par>textarea {
    padding: 10px;
}

#question {
    margin-bottom: 10px;
}

#question :nth-child(2) {
    background: rgb(248, 227, 237);
}

#question :nth-child(3) {
    background: rgb(233, 198, 231);
}

#question :nth-child(4) {
    background: rgb(199, 157, 177);
}

.son {
    margin: auto;
    padding: 20px;
    background: rgb(171, 216, 185);
}

.btn {
    height: 30px;
    width: 60px;
    margin: 0 30%;
    background-color: #2d8cf0;
    border-color: #2d8cf0;
    color: white;
    font-weight: 400;
    border-radius: 4px;
}

.submit {
    margin: 0 70%;
}

table {
    border-collapse: collapse;
}

.list>p {
    border: 1px solid skyblue;
    text-align: center;
    background: green;
    cursor: pointer;
}